EDA/project/hotels.csv
MATH+ML/Project_5/osrm_data_test.csv
MATH+ML/Project_5/train.csv
MATH+ML/Project_5/osrm_data_train.csv
MATH+ML/Project_6/Intellivision/IntelliVision_case.zip
MATH+ML/Project_6/Intellivision/IntelliVision_case.zip
